/* styles.css */
/* .item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.close {
  cursor: pointer;
  margin-left: 10px;
} */

.edit {
  margin: 10px;
}
