.progress__bar {
  width: 100%;
  height: 20px;
  background-color: grey;
  margin-bottom: 10px;
  border: 1px solid black;
}
.myBar {
  height: 100%;
  width: 0;
  background-color: green;
}

#progress-bar-container {
  width: 80%;
  margin: 10px 20px;
}

#show__btn {
  width: 100%;
  margin: 20px;
}
