.App {
  height: 100vh;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list {
  width: 100px;
  height: 180px;
  border: solid black 1px;
  border-radius: 10px;
  flex-direction: column;
}

.actions {
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
